DATABASE_URL="postgresql://user:password@host:port/database?schema=public"
DIRECT_URL="postgresql://user:password@host:port/database?schema=public"
JWT_SECRET=d925f9554c11420803dbede4769af910
ENCRYPTION_KEY=af619c775ce341efb84b7ac383a87ffd
GEMINI_API_KEY=AIzaSyAG_79Z6bdvkRULN6PKmPk9ub8UZ_ALZa8
PORT=3000
